<div class="correct-streak">Correct Streak: {{ correctStreak }}</div>

<div
  *ngIf="state === 'LOADING'"
  class="loading fade-in fade-in-start"
  [class.fade-in-start]="false"
>
  <mat-spinner></mat-spinner>
</div>

<div class="flow-text" *ngIf="question">
  <mat-card>
    <mat-card-title
      class="question-context"
      [innerHTML]="question.context"
    ></mat-card-title>
    <div class="question-text">
      <div class="prefix" [innerHTML]="question.questionText.prefix"></div>
      <div class="center" [innerHTML]="question.questionText.center"></div>
      <div class="suffix" [innerHTML]="question.questionText.suffix"></div>
    </div>
  </mat-card>

  <div *ngIf="state === 'WRONG'" class="incorrect-container flow-text">
    <span class="notice-incorrect">Incorrect!</span>
  </div>

  <div *ngIf="state === 'RIGHT'" class="correct-container flow-text">
    <span class="notice-correct">Correct!!!</span>
  </div>

  <div
    *ngIf="state === 'WRONG' || state === 'RIGHT'"
    class="correct-answer-context"
  >
    {{ question.correctAnswerContext }}
  </div>

  <ng-template [ngIf]="state !== 'LOADING'">
    <div
      class="answer"
      *ngFor="let answer of question.shuffledAnswers; let i = index"
      (click)="state === 'ASKING' && answerIndex(i)"
      [class.correct]="state !== 'ASKING' && isCorrect(i)"
      [class.selected]="state !== 'ASKING' && i === selectedIndex"
      [class.selected-incorrect]="state === 'WRONG'"
      [class.cursor]="state === 'ASKING'"
    >
      <div class="answer-index">{{ i | answerIndex }}</div>
      <div class="answer-text" [innerHTML]="answer"></div>
    </div>
  </ng-template>
</div>

<div class="feedback" *ngIf="state === 'WRONG' || state === 'RIGHT'">
  <div>How was the question?</div>
  <div>
    <div class="difficulty-buttons">
      <mat-button-toggle-group
        [value]="questionDifficulty"
        (change)="questionDifficulty = $event.value"
      >
        <mat-button-toggle value="IMPOSSIBLE">Impossible</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="difficulty-buttons">
      <mat-button-toggle-group
        [value]="questionDifficulty"
        (change)="questionDifficulty = $event.value"
      >
        <mat-button-toggle value="DIFFICULT">Difficult</mat-button-toggle>
        <mat-button-toggle value="JUST_RIGHT">Just right</mat-button-toggle>
        <mat-button-toggle value="EASY">Easy</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="difficulty-buttons">
      <mat-button-toggle-group
        [value]="questionDifficulty"
        (change)="questionDifficulty = $event.value"
      >
        <mat-button-toggle value="OBVIOUS">Obvious / Broken</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div>
    <mat-form-field class="comment-field">
      <mat-label>Comment</mat-label>
      <textarea matInput [(ngModel)]="feedbackComment"></textarea>
    </mat-form-field>
  </div>

  <div>
    <button
      mat-raised-button
      (click)="onClickNextQuestion()"
      class="next-question-button"
    >
      Next Question
    </button>
  </div>
</div>
