.correct-streak {
  text-align: right;
  padding: 8px;
  font-size: 200%;
}

.question-context {
}

.question-text ::ng-deep {
  .center {
    font-weight: bold;
    margin: 8px;
  }
}

.answer {
  margin: 12px;
  padding: 8px;
  border: 3px solid black;
  border-radius: 6px;
  transition: all 600ms;

  &.cursor {
    cursor: pointer;
  }

  .answer-index {
    float: left;
    margin-right: 8px;

    border-radius: 4px;
    color: white;
    background-color: black;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.selected {
    // border-width: 5px;

    &.selected-incorrect {
      border-color: red;

      .answer-index {
        background-color: red;
      }
    }
  }

  &.correct {
    // border-width: 5px;
    border-color: limegreen;
    .answer-index {
      background-color: limegreen;
    }
  }
}

.notice-correct {
  color: limegreen;
  font-size: 200%;
}

.notice-incorrect {
  color: red;
  font-size: 200%;
}

.feedback {
  margin-top: 16px;
  margin-bottom: 16px;
}

:host {
  display: block;
}

:host
  ::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 32px;
}

.correct-answer-context {
  font-size: 150%;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .difficulty-buttons {
    display: inline-block;
  }
}

.comment-field,
.next-question-button {
  width: 100%;
}
